
export HA_CLITOKEN=
export API_SERVICE_URL=
export API_SERVICE_URL_BACKUP=
export JOPLIN_URL=
export JOPLIN_ACCESS_TOKEN=
export OPENAI_API_KEY=
export GCP_DEV_CONTEXT=
export GCP_TEST_CONTEXT=
export GCP_STAGE_CONTEXT=
export GCP_PROD_CONTEXT=


export GCP_DEV_CONTEXT=
export GCP_TEST_CONTEXT=
export GCP_STAGE_CONTEXT=
export GCP_PROD_CONTEXT=

export GH_ORG=
export GH_PROJECT_NAME=
export GH_TARGET_COLUMN=
export GH_USERNAME=

export BIRDNEST_URL_DEV=
export BIRDNEST_URL_PROD=
export BIRDNEST_URL_TEST=
export BIRDNEST_URL_STAGE=

export BIRDNEST_USERNAME=
export BIRDNEST_PASSWORD=
